# DataScienceEcosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* List some commonly used libraries used by Data Scientists
* Table of some Data Science Tools

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib
4. Seaborn
5. Pytorch

|Data Science Tools|
| -------------|
| MySQL |
| PostgreSQL |
| Rstudio |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
 #This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Luan Goulart